*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f8d76e;
}

.container {
    width: 450px;
    height: 500px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.tv {
    background-color: rgb(219, 102, 102);
    height: 200px;
    width: 270px;
    position: relative;
    top: 200px;
    left: 90px;
    border-radius: 15px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    background-color: #f3947e;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    right: 15px;
    outline: none;
    cursor: pointer;
}

.speaker {
    position: absolute;
    top: 50px;
    right: 7px;
}

.speaker > div {
    background-color: #d52f31;
    height: 6px;
    width: 50px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.slot {
    background-color: #d52f31;
    height: 6px;
    width: 220px;
    border-radius: 8px;
    position: absolute;
    bottom: 17px;
    left: 18px;
}

.antenna {
    background-color: #3d3f3d;
    height: 20px;
    width: 60px;
    border-radius: 20px 20px 0 0;
    position: absolute;
    top: -20px;
    left: 50px;
}

.a {
    background-color: #3d3f3d;
    height: 70px;
    width: 6px;
    border-radius: 6px;
    position: relative;
}

.a:nth-child(1) {
    bottom: 60px;
    left: 10px;
    transform: rotate(-30deg);
}
.a:nth-child(2) {
    bottom: 130px;
    left: 45px;
    transform: rotate(30deg);
}

.stand1,.stand2 {
    background-color: #d52f31;
    height: 10px;
    width: 18px;
    position: absolute;
    bottom: -10px;
    border-radius: 0 0 15px 15px;
}

.stand1 {
    left: 45px;
}
.stand2 {
    right: 45px;
}

input[type="checkbox"]::before {
    content: "";
    position: absolute;
    background-color: #caffd0;
    height: 140px;
    width: 170px;
    bottom: -42px;
    right: 45px;
    border-radius: 5px;
    border: 10px solid #d52f31;
    background-size: 125px 140px;
    background-image: linear-gradient(to right,
        #db9dff 25px,
        #9dc4ff 25px,
        #9dc4ff 50px,
        #fefd93 50px,
        #fefd93 75px,
        #fcc670 75px,
        #ff9ea7 100px,
        #ff9ea7 125px);
    animation: move 20s infinite linear;
}
input:checked[type="checkbox"]::before {
    background-size: 100% 100%;
    animation: none;
    background-image: linear-gradient(-45deg, transparent 150px, rgba(255,255,255,0.4) 150px, rgba(255,255,255,0.4) 180px, transparent 180px);
}
@keyframes move {
    100% {
        background-position: 2000px 0;
    }
}