*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: slategray;
}

.container {
    height: 200px;
    width: 350px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.cat {
    background-color: orange;
    height: 65px;
    width: 80px;
    border-radius: 0 80px 80px 0;
    position: absolute;
    bottom: 60px;
    right: 50px;
}

.ear {
    height: 15px;
    width: 15px;
    background-color: orange;
    position: absolute;
    bottom: 64px;
    left: 8px;
    border-radius: 20px 0 0 0;
    box-shadow: 25px 0 orange;
}

.eye,
.eye::before {
    height: 7px;
    width: 10px;
    position: absolute;
    border: 2px solid brown;
    border-radius: 0 0 15px 15px;
    border-top: none;
}

.eye {
    top: 18px;
    left: 15px;
}

.eye::before {
    content: "";
    left: 30px;
}

.nose {
    background-color: #fff;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    position: absolute;
    top: 32px;
    left: 25px;
    box-shadow: 12px 0 #fff;
}

.nose::before {
    content: "";
    width: 12px;
    height: 8px;
    position: absolute;
    background-color: #fff;
    left: 6px;
}

.nose::after {
    content: "";
    height: 0;
    width: 0;
    border-top: 8px solid rgb(108, 239, 9);
    border-top: 5px solid transparent;
    border-top: 5px solid transparent;
    bottom: 7px;
    left: 6px;
}

.mouth {
    background-color: rgb(57, 57, 57);
    height: 15px;
    width: 17px;
    position: absolute;
    border-radius: 0 0 5px 5px;
    top: 38px;
    left: 27px;
    animation: mouth-move 4s infinite;
    transform-origin: top;
}

.body {
    background-color: orange;
    height: 90px;
    width: 140px;
    position: absolute;
    right: 65px;
    bottom: 0;
    border-radius: 60px 60px 0 0;
    animation: sleep 3s infinite;
    transform-origin: bottom;

}

.body::before {
    content: "";
    position: absolute;
    background-color: #fff;
    height: 12px;
    width: 30px;
    border-radius: 6px;
    bottom: 0;
    left: 22px;
    box-shadow: 45px 0 #fff;
}

.tail {
    background-color: orange;
    height: 20px;
    width: 100px;
    position: absolute;
    right: 150px;
    bottom: 0;
    border-radius: 20px 0 0 20px;
}



@keyframes mouth-move {
    50% {
        transform: scaleY(0.7)
    }
}

@keyframes sleep {
    50% {
        transform: scale(0.9, 1.05);
    }
}
